.session{
    color: $textColor;
    text-align: center;
   margin: 2vh 3vh;
}

#session-label{
    color: $textColor;
    text-align: center;
    h3{
        padding-left: 3vh;
        font-size: 3vh;
        margin: 2vh;
    }
    h1{
        font-size: 2vh;
    }
}

#session-length{
    margin: .5vh 5vh;
    font-size: 4vh;
    button{ 
        margin: 2vh 0 2vh 2vh;
        background: $buttonColor;
        font-size: 2vh;
        height: 3vh;
        width: 3vh;
        border: none;
        border-radius: 10px;
        outline: none;
        &:hover{
            background: $hover;
            outline: none;
        }
        &:focus{
            outline: none;
        }
    }
    span{
        font-size: 1vh;
        margin-left: 1vh;
        color: rgb(187, 80, 80);
    }
}

.session-length{
    @extend #session-length
}






