.session{
    color: $textColor;
    text-align: center;
    margin: 2vh 10vh;
}

#session-label{
    color: $textColor;
    text-align: center;
    margin: 20px;
    h3{
        margin: 40px;
        font-size: 4vh;
        padding-left: 6vh;
    }
}

#session-length{
    margin: 2vh 10vh;
    font-size: 4vh;
    button{ 
        margin: 2vh 0 2vh 5vh;
        background: $buttonColor;
        height: 2vh;
        width: 2vh;
        border: none;
        border-radius: 10px;
        outline: none;
        &:hover{
            background: $hover;
            outline: none;
        }
        &:focus{
            outline: none;
        }
    }
    span{
        font-size: 1vh;
        margin-left: 3vh;
        color: rgb(187, 80, 80);
    }
}

.session-length{
    @extend #session-length
}






