@import './variables';

.timer{
    @extend .session
}

#timer-label{
    @extend #session-label
}

#clock{
    margin: 4vh; 
    h1{
        font-size: 2vh;
        margin-bottom: 1vh;
    }
    #red{
        color: rgb(187, 80, 80);
    }
    button{
        margin: 0 .5vh 0 0;
        background: $buttonColor;
        font-size: 1.5vh;
        height: 7vh;
        width: 7vh;
        border: none;
        border-radius: 5px;
        box-shadow: .2vh .2vh $textColor;
        outline: none;
        &:hover{
            background: $hover;
        }
        &:focus{
            outline: none;
        }
    }
}

#time-left{
    background: $timerColor;
    color: $pageColor;
    font-size: 4vh;
    height: 6vh;
    min-width: 15vh;
    text-align: center;
    padding-top: 1.5vh;
    margin: 2vh 2%;
    border-radius: 5px;
}

@media only screen and (min-width: 768px){
    #clock{
        button{
            margin: 0 7vh 0 5vh;
        }
    }

    #time-left{
        max-width: 60vh;
        margin: 2vh 35%;
    }
}

@media only screen and (min-width: 1440px){
    #time-left{
        max-width: 60vh;
        margin: 2vh 35%;
    }

    #clock{
        button{
            margin: 0 10vh;
        }
    } 
}





