@import './break';
@import './session';
@import './timer';
@import './variables';


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $pageColor;
    font-family: 'Chalkboard SE';
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 20px;
}

.pomodoro{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

header{
    grid-column: 1,1;
    grid-row: 1,4;
    background: $bgColor;
    color: $textColor;
    text-align: center;
    text-shadow: 1px 1px $whiteText;
    height: 8vh;
    padding-top: 2vh;
    font-size: 4vh;
}

footer{
    grid-column: 1,1;
    grid-row: 4,4;
    background: $bgColor;
    color: $textColor;
    text-align: center;
    height: 6vh;
    padding-top: 2vh;
    margin-top: 10vh;
    padding-bottom: 4vh;
}

