@import './break';
@import './session';
@import './timer';


$bgColor : #178513;
$textColor: #161414;
$whiteText : #F1EAEA;
$pageColor: #ffffff;
$buttonColor: #EACB47;
$timerColor: #0c0c0c;
$hover: #b99505;


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $pageColor;
    font-family: 'Chalkboard SE';
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 20px;
}

.pomodoro{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

header{
    grid-column: 1,1;
    grid-row: 1,4;
    background: $bgColor;
    color: $textColor;
    text-align: center;
    text-shadow: 1px 1px $whiteText;
    height: 8vh;
    padding-top: 2vh;
    font-size: 4vh;
}

footer{
    grid-column: 1,1;
    grid-row: 4,4;
    background: $bgColor;
    color: $textColor;
    text-align: center;
    height: 6vh;
    padding-top: 2vh;
    margin-top: 10vh;
    padding-bottom: 4vh;
}

.session{
    color: $textColor;
    text-align: center;
    margin: 2vh 10vh;
}

#session-label{
    color: $textColor;
    text-align: center;
    margin: 20px;
    h3{
        margin: 40px;
        font-size: 4vh;
        padding-left: 6vh;
    }
}

#session-length{
    margin: 2vh 10vh;
    font-size: 4vh;
    button{ 
        margin: 2vh 0 2vh 5vh;
        background: $buttonColor;
        height: 2vh;
        width: 2vh;
        border: none;
        border-radius: 10px;
        outline: none;
        &:hover{
            background: $hover;
            outline: none;
        }
        &:focus{
            outline: none;
        }
    }
}

.break{
    @extend .session;
}

#break-label{
    @extend #session-label
}

#break-length{
    @extend #session-length
}

.timer{
    @extend .session;
}

#timer-label{
    @extend #session-label
}

#clock{
    margin: 4vh;
    h1{
        font-size: 3vh;
        margin-bottom: 8vh;
    }
    #red{
        color: rgb(187, 80, 80);
    }
    button{
        margin: 0 2vh;
        background: $buttonColor;
        height: 7vh;
        width: 7vh;
        border: none;
        border-radius: 5px;
        box-shadow: .2vh .2vh $textColor;
        outline: none;
        &:hover{
            background: $hover;
        }
        &:focus{
            outline: none;
        }
    }
}

#time-left{
    background: $timerColor;
    color: $pageColor;
}

input{
    text-align: center;
    background: $timerColor;
    color: $pageColor;
    height: 6vh;
    width: 12vh;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
}


